<!-- <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TutorFinder</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item">
          <!-- *ngIf="authority === 'user'" -->
        <!-- <a class="nav-link" routerLink="user">User</a>
      </li>
      <li  class="nav-item"> -->
          <!-- *ngIf="authority === 'admin'" -->
        <!-- <a class="nav-link" routerLink="admin">Admin /a>
      </li>
      <li > -->
          <!-- *ngIf="authority === 'pm'" class="nav-item" -->
        <!-- <a class="nav-link" routerLink="pm">Teacher</a>
      </li>
      <li  class="nav-item"> -->
          <!-- *ngIf="!authority" -->
        <!-- <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
    </ul>
  </div>
</nav>  -->

<!-- NV Code  -->
<!-- <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
  
 <a class="navbar-brand" href="#">TutorFinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="authority === 'user'"  routerLink="user">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  *ngIf="authority === 'admin'" routerLink="admin">Admin </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="authority === 'pm'" routerLink="pm">Teacher</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" *ngIf="!authority" routerLink="auth/login">Login</a>
        </li>
      </ul>
    </div>
  
       
</nav>
<div class="container"> 
  </div>

-->
  




<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Edulearn Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<!-- Bootstrap-Core-Css -->
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<!-- Testimonials-Css -->
	<link href="assets/css/mislider.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/mislider-custom.css" rel="stylesheet" type="text/css" />
	<!-- Style-Css -->
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />
	<!-- Font-Awesome-Icons-Css -->
	<link rel="stylesheet" href="assets/css/fontawesome-all.css">
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //Web-Fonts -->

</head>

<body>
	<!-- header -->
	<header>
		<!-- top header -->
		<div class="top-head-w3ls py-2 bg-dark">
			<div class="container">
				<div class="row">
					<h1 class="text-capitalize text-white col-7">
						<i class="fas fa-book text-dark bg-white p-2 rounded-circle mr-3"></i>welcome to Tutor Finder</h1>
					<!-- social icons -->
					<div class="social-icons text-right col-5">
						<ul class="list-unstyled">
							<li>
								<a href="#" class="fab fa-facebook-f icon-border facebook rounded-circle"> </a>
							</li>
							<li class="mx-2">
								<a href="#" class="fab fa-twitter icon-border twitter rounded-circle"> </a>
							</li>
							<li>
								<a href="#" class="fab fa-google-plus-g icon-border googleplus rounded-circle"> </a>
							</li>
							<li class="ml-2">
								<a href="#" class="fas fa-rss icon-border rss rounded-circle"> </a>
							</li>
						</ul>
					</div>
					<!-- //social icons -->
				</div>
			</div>
		</div>
		<!-- //top header -->
		<!-- middle header -->
		<div class="middle-w3ls-nav py-2">
			<div class="container">
				<div class="row">
					<a class="logo font-italic font-weight-bold col-lg-4 text-lg-left text-center" href="index.html">Tutor Finder</a>
					<div class="col-lg-8 right-info-agiles mt-lg-0 mt-sm-3 mt-1">
						<div class="row">
							<div class="col-sm-4 nav-middle">
								<i class="far fa-envelope-open text-center mr-md-4 mr-sm-2 mr-4"></i>
								<div class="agile-addresmk">
									<p>
										<span class="font-weight-bold text-dark">Mail Us</span>
										<a href="mailto:mail@example.com">elearning@edu.tn</a>
									</p>
								</div>
							</div>
							<div class="col-sm-4 col-6 nav-middle mt-sm-0 mt-2">
								<i class="fas fa-phone-volume text-center mr-md-4 mr-sm-2 mr-4"></i>
								<div class="agile-addresmk">
									<p>
										<span class="font-weight-bold text-dark">Call Us</span>
										+1234-567-890
									</p>
								</div>
							</div>
							<div class="col-sm-4 col-6 top-login-butt text-right mt-sm-2">
						 <a class="button-head-mow3 text-white" *ngIf="!authority" routerLink="auth/login">Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //middle header -->
	</header>
	<!-- //header -->

	<!-- banner -->
	<div class="container">
	

			<!-- navigation -->
			<div class="navigation-w3ls">
					<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
						<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						 aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
							<ul class="navbar-nav justify-content-center">
								<li class="nav-item active">
						<a class="nav-link text-white" routerLink="home" routerLinkActive="active">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-white" *ngIf="authority === 'user'" routerLink="user" routerLinkActive="active">ListCourse</a>
								</li>
								<li class="nav-item">
										<a class="nav-link text-white" *ngIf="authority === 'user'" routerLink="sessionApply" routerLinkActive="active">session</a>
									</li>
								<li class="nav-item">
									<a class="nav-link text-white" *ngIf="authority === 'admin'" routerLink="admin" routerLinkActive="active">Users</a>
								</li>
								<li class="nav-item">
										<a class="nav-link text-white" *ngIf="authority === 'admin'" routerLink="course" routerLinkActive="active">Courses</a>
									</li>
								<li class="nav-item">
									<a class="nav-link text-white" *ngIf="authority === 'pm'" routerLink="pm" routerLinkActive="active">Add course</a>
								</li>
								<li class="nav-item">
										<a class="nav-link text-white" *ngIf="authority === 'pm'" routerLink="createDocument" routerLinkActive="active">Add documents</a>
									</li>
									<li class="nav-item">
											<a class="nav-link text-white" *ngIf="authority === 'pm'" routerLink="createSession" routerLinkActive="active">Add session</a>
										</li>
								<li class="nav-item">
									<a class="nav-link text-white" *ngIf="authority === 'admin'" routerLink="document" routerLinkActive="active">Documents</a>
								</li>
								<li class="nav-item">
										<a class="nav-link text-white" *ngIf="authority === 'admin'" routerLink="session" routerLinkActive="active">Sessions</a>
									</li>
								<li class="nav-item dropdown">
									
									<div class="dropdown-menu">
										
										<a class="nav-link" routerLink="auth/login" routerLinkActive="active">Login</a>
										<a class="dropdown-item" href="singup" routerLinkActive="active">Register</a>
										
									</div>
								</li>
							
							</ul>
						</div>
					</nav>
					
				
				     <router-outlet></router-outlet>
				
				<!-- //navigation -->
			</div>
			
			
	
	</div>
	<!-- //banner -->
	

		



	<!-- brands -->
	<div class="brands-w3ls py-md-5 py-4">
		<div class="container py-xl-3">
			<ul class="list-unstyled">
				<li>
					<i class="fab fa-supple"></i>
				</li>
				<li>
					<i class="fab fa-angrycreative"></i>
				</li>
				<li>
					<i class="fab fa-aviato"></i>
				</li>
				<li>
					<i class="fab fa-aws"></i>
				</li>
				<li>
					<i class="fab fa-cpanel"></i>
				</li>
				<li>
					<i class="fab fa-hooli"></i>
				</li>
				<li>
					<i class="fab fa-node"></i>
				</li>
			</ul>
		</div>
	</div>
	<!-- //brands -->




	<!-- Js files -->
	<!-- JavaScript -->
	<script src="assets/js/jquery-2.2.3.min.js"></script>
	<!-- Default-JavaScript-File -->
	<script src="assets/js/bootstrap.js"></script>
  <!-- Necessary-Java
    
    Script-File-For-Bootstrap -->

	<!-- banner slider -->
	<script src="assets/js/slider.js"></script>
	<!-- //banner slider -->

	<!-- testimonial-plugin -->
	<script src="assets/js/mislider.js"></script>
	<script>
		jQuery(function ($) {
			var slider = $('.mis-stage').miSlider({
				//  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
				stageHeight: 320,
				//  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
				slidesOnStage: false,
				//  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
				slidePosition: 'center',
				//  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
				slideStart: 'mid',
				//  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
				slideScaling: 150,
				//  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
				offsetV: -5,
				//  Center slide contents vertically - Boolean. Default: false
				centerV: true,
				//  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
				navButtonsOpacity: 1,
			});
		});
	</script>
	<!-- //testimonial-plugin -->

	<!-- numscroller-js-file -->
	<script src="assets/js/numscroller-1.0.js"></script>
	<!-- //numscroller-js-file -->

	<!-- smooth scrolling -->
	<script src="assets/js/SmoothScroll.min.js"></script>
	<!-- //smooth scrolling -->

	<!-- move-top -->
	<script src="assets/js/move-top.js"></script>
	<!-- easing -->
	<script src="assets/js/easing.js"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="assets/js/edulearn.js"></script>

	<!-- //Js files -->



